body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(0,0,0,0.4);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

h2 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    margin: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row input {
    width: 48%;
}

button {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #FFD600;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e0c100;
}

a {
    color: yellow;
    text-decoration: none;
}

.success {
    color: #00ff55;   
    font-weight: bold;
    margin-top: 10px;
}

.error {
    color: #ff3333;
    font-weight: bold;
    margin-top: 10px;
}



